$textarea-width: 60%;
$textarea-fontsize: $base-size * .9;
$textarea-lineheight: 1.3;

$textarea-oneline: $textarea-fontsize * $textarea-lineheight * .97;

@mixin textarea-height ( $lines ){
    height: $textarea-oneline * $lines;
    }

@mixin textarea-bg {
    background: linear-gradient(white $textarea-oneline, #EEE $textarea-oneline) repeat;
    background-size: 100% $textarea-oneline*2;
    }    

@mixin highlight-lines( $lines ) {
    $color: palegoldenrod;
    $gradients: null;
    $hl-begin: null;
    $hl-end: null;
    
    @each $line in $lines {
        $line: $line - 1;
        $hl-begin: $textarea-oneline * $line;
        $hl-end: $textarea-oneline * ($line + 1);

        $gradients: append($gradients, linear-gradient(
                transparent $hl-begin,
                $color $hl-begin, $color $hl-end, 
                transparent $hl-end), comma);
        }
    background: $gradients;
    background-position: 0 .2em;
}

@mixin demo-list {
    display: inline-block;
    margin-right: 2em;
    vertical-align: top;
    text-indent: 0 !important;
    &:before {
            content: none !important;
            }
    }

/* Common
------------------------- */
.list--columns LI {
    @include demo-list;
    text-align: center;
    /*border: 1px solid;*/
    B {
        display: block;
        font-size: .8em;
        }
    }

/* Cat
------------------------- */
.preview--cat {
    display: table-cell;
    width: 864px;
    height: 440px;
    text-align: center;
    vertical-align: middle;
    IMG {
        max-height: 100%;
        width: auto;
        }
    }
/* Demo Filling
------------------------- */
.slide--fillingdemo {
    PRE {
        position: relative;
        z-index: 2;
        padding: .5em;
        background: #FFF;
        transition: .2s;
        }
    .lower-level {
        position: absolute;
        z-index: 0;
        left: 0;
        right: 0;
        text-align: center;
        bottom: 27%;
        font-size: 90px;
        }
    .demo {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        }
        svg {
            width: 100%;
            height: 100%;
            /*border: 1px solid green;*/
        }
    }
    .slide--strokewidth PRE {
        width: 60%;
        margin: 20.5% auto 0;
        }

/* Demo Live
------------------------- */
.demo--live {
    margin-bottom: $base-size;
    &:after {
        @include clear;
        }
    .demo__content {
        /*float: right;*/
        /*width: $textarea-width;*/
        margin-top: 2em;
        /*line-height: 1;*/
        } 
    .demo__view {
        /*float: left;   
        width: 35%;*/
        /*border: 2px solid;*/
        
        svg {
            display: block;
            margin: 0 auto;
            border: 1px solid #555;
            }
        }   
    .demo__textfield {
        width: 100%;
        border: 1px solid #555;
        border-radius: 5px;
        font-family: 'Anka Coder', monospace;
        font-size: $textarea-fontsize;
        line-height: $textarea-lineheight;
        color: #222;
    }    
    .demo__code {
        @include textarea-height (5.5);
        }
    pre {
        float: right;
        width: 65%;
        margin-top: 1em;
        }    
    B {
        display: inline-block;
        font: bold .8em/1 Arial !important;
        }
    } 

.demo--stacks {
    .demo__view {
        float: left;   
        width: 35%;
        /*border: 2px solid;*/
    }
    .demo__content {
        float: right;
        width: $textarea-width;
        } 
}

/* Demo Switch
------------------------- */        
.demo-switch {
    /*margin-top: 1em;*/
    font-size: .6em;
    line-height: 1.4;
        DL {
        display: inline-block;
        margin-right: 1em;
            DT,
            DD {
                padding: .2em 1.5em .2em 2em;
                }
            DT {
                margin-bottom: .5em;
                font-weight: bold;
                }
            DD {
                position: relative;
                margin: .3em 0;
                border-radius: 10px;
                cursor: pointer;
                &:nth-child(2n) {
                    background: #EEE;
                    }    
                &:before {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: .5em;
                    width: .9em;
                    height: .9em;
                    margin: auto;
                    border: 3px solid rgba(0,0,0,.1);
                    border-radius: 50%;
                    }    
                &:hover:before {
                    border: 3px solid rgba(0,0,0,.2);
                    }    
                    
                } 
                .switch--checked:before {
                    background: radial-gradient( at center, #333 40%, rgba(0,0,0,0) 50%) no-repeat;
                    border: 3px solid rgba(0,0,0,.1);
                    }
        }
         &--horizontal DD {
            display: inline-block;
            &:nth-child(2n) {
                background: none;
                } 
            }
    }

/* Demo Rect
------------------------- */
.demo--rect {
    &-1 {
        .demo__textfield {
            @include highlight-lines(2);
            }
        }
    &-2 {
        .demo__textfield {
            @include highlight-lines(4);
            }
        }
    &-3 {
        .demo__textfield {
            @include highlight-lines(4);
            }
        }
}

/* Demo Circle
------------------------- */
        
.demo--circle {
    .demo__code {
        @include highlight-lines(2);
        }
    }

/* Demo Polygon
------------------------- */
.demo--polygon {
    .demo__code {
        @include highlight-lines(2);
        }
    }

.demo--polygon-star {
    .demo__code {
        $demo-code-lines: 2, 3;
        @include highlight-lines($demo-code-lines);
        }
    }
/* Demo Lines
------------------------- */
.demo--line {
    .demo__code {
        @include highlight-lines(2);
        }
}
.demo--polyline {
    .demo__code {
        $demo-code-lines: 2, 3;
        @include highlight-lines($demo-code-lines);
        }
}

.demo--path {
    .demo__code {
        $demo-code-lines: 2;
        @include highlight-lines($demo-code-lines);
        }
}
.demo--path-abs-rel {
    .demo__code {
        $demo-code-lines: 4;
        @include highlight-lines($demo-code-lines);
        }
}

.demo--path-circ {
    .demo__code {
        $demo-code-lines: 2, 3;
        @include highlight-lines($demo-code-lines);
        }
}

/* Demo Fill
------------------------- */
.demo--fill {
    .demo__view {
        /*width: 250px;*/
        height: 310px;
        }
    text {
        font: bold italic 60px/1 Georgia;
        }      
    .demo__code {
        @include textarea-height (8);
        }        
    }

.demo--stroke-dec {
    LI {
        background: green;
        }
    PRE {
        display: inline-block;
        width: 322px;
        margin-bottom: 0;
        text-indent: 0;
        }
        svg {
            background: orange;
        }
    }
    .demo--linecap {
        LI {
            margin-bottom: 100px;
            }
            svg {
                vertical-align: bottom;
                }
        }
    .demo--linejoin {
        LI {
            margin-bottom: 50px;
            }
            svg {
                margin-left: 20px;
                vertical-align: middle;
                }
        }
/* Переложить на место */
#pt-text {
  font: italic .5em/1 Georgia;
  color: #000;
  }

.demo--dasharray {
    height: 320px;
    } 

/* Demo stroke-dasharray Animation
------------------------- */ 

.demo--stroke-dasharr-anim {
    /*height: 320px;*/
    
    path {
      fill: none;
      stroke: url(#gr-hot-cold-soft);
      stroke-width: 2;
      stroke-dasharray: 550 0;
      animation: dasharray 5s infinite alternate;
      }
    }
@keyframes dasharray {
  100% {
    stroke-dasharray: 0 500;
  }
}

/* Demo stroke-dasharray + stroke-offset Animation
------------------------------------------------- */ 
.demo--stroke-dashofset-anim {
    /*height: 320px;*/
    
    .g-circles circle {
      transform-origin: 120px 120px;
      transform: rotate(0);
    }
    .g-circles circle {
      animation: rotation 6s infinite alternate;
    }

    @for $i from 2 through 15 {
      .g-circles circle:nth-child(#{$i}){
        animation-delay: #{$i/4}s;
      }
    }
    }

@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}
  
/* Demo G
------------------------- */    
.demo--g {
    .demo__view {
        height: 150px;
        }
    .demo__code {
        $demo-code-lines: 2;
        @include textarea-height (8.5);
        @include highlight-lines($demo-code-lines);
        }        
    }    
/* Demo Use
------------------------- */    
.demo--use {
    .demo__view {
        height: 180px;
        }
    .demo__code {
        @include textarea-height (14);
        }        
    }  
/* Demo Defs
------------------------- */    
.demo--defs {
    .demo__view {
        height: 180px;
        }
    .demo__code {
        @include textarea-height (16);
        }        
    } 
/* Demo Symbol
------------------------- */    
.demo--symbol {
    .demo__view {
        height: 180px;
        }
    .demo__code {
        @include textarea-height (16);
        }        
    }      
/* Demo pattern
------------------------- */    
.demo--pattern {
    .demo__view {
        /*width: 190px;*/
        height: 200px;
        }
    .demo__code {
        @include textarea-height (17);
        }  
/*    DD {
        display: inline-block;
        }  */        
    }  
/* Demo transform
------------------------- */        
.demo--transform {
    .demo__view {
        /*width: 200px;*/
        height: 150px;
        }
    .demo__code {
        @include textarea-height (8);
        }        
    }  
    
/* Demo stacks
------------------------- */        
.demo--stacks {
    .demo__view {
        width: 200px;
        height: 200px;
        }
    text {
        font: 90px/1 Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
        fill: #FFF;
        }  
    .hidden {
        display: none;
        }      
    .demo__code {
        height: 190px;
        }        
    }      
.list--stacks-demo .text {
    font-style: italic;
    }    
    .list--stacks-demo LI {
        @include demo-list;
        color: #999;
        B {
            color: #000;
            }
        }
.test-stacks {
    width: 150px;
    height: 150px;
    background: url(../../assets/img/svg/yes-no.svg#yes);
    }       
/* Demo Masks
------------------------- */             
.demo--mask {
    .demo__code {
        @include textarea-height (7);
        }  
    .demo__codepart {
        @include textarea-height (5);
        }
    }
#clipping-text {
  font: bold italic 5em/1 Georgia;
  } 
#fo-text {
  font: bold italic .4em/1 Georgia
  }


