$textarea-width: 60%;
$textarea-fontsize: $base-size * .9;
$textarea-lineheight: 1.4;
$hl-color: palegoldenrod;

$textarea-oneline: $textarea-fontsize * $textarea-lineheight * .99;

@mixin textarea-height ( $lines ){
    height: $textarea-oneline * $lines;
    }

@mixin textarea-bg {
    background: linear-gradient(white $textarea-oneline, #EEE $textarea-oneline) repeat;
    background-size: 100% $textarea-oneline*2;
    }

@mixin highlight-lines( $lines ) {
    $gradients: null;
    $hl-begin: null;
    $hl-end: null;

    @each $line in $lines {
        $line: $line - 1;
        $hl-begin: $textarea-oneline * $line;
        $hl-end: $textarea-oneline * ($line + 1);

        $gradients: append($gradients, linear-gradient(
                transparent $hl-begin,
                $hl-color $hl-begin, $hl-color $hl-end,
                transparent $hl-end), comma);
        }

    position: relative;
    &:before {
        background: $gradients;
        background-position: 0 .2em;
        }
}

@mixin demo-list ($margin-right: 2em){
    display: inline-block;
    margin-right: $margin-right;
    vertical-align: top;
    text-indent: 0 !important;
    &:before {
            content: none !important;
            }
    }

@mixin editable ($pgpos: 99.5% top){
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: $pgpos;
    }

/* Common
------------------------- */

.list--columns LI {
    @include demo-list;
    text-align: center;
    B {
        display: block;
        font-size: .8em;
        }
    }

.js-toggle-code {
    overflow: hidden;
    cursor: pointer;

    &:after {
        content: "";
        position: absolute;
        display: block;
        right: .6em;
        top: .6em;
        width: 1em;
        height: 1em;
        border: 1px solid;
        color:  #999;
        background-image: url(data:image/svg+xml;utf8,%3Csvg%20viewbox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Crect%20fill%3D%22%23999%22%20x%3D%221%22%20y%3D%229%22%20width%3D%2218%22%20height%3D%222%22/%3E%3C/svg%3E);
        background-position: 2px 2px;
    }
    &.is--collapsed {
        &:after {
            background-image: url(data:image/svg+xml;utf8,%3Csvg%20viewbox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Crect%20fill%3D%22%23999%22%20x%3D%229%22%20y%3D%221%22%20width%3D%222%22%20height%3D%2218%22/%3E%3Crect%20fill%3D%22%23999%22%20x%3D%221%22%20y%3D%229%22%20width%3D%2218%22%20height%3D%222%22/%3E%3C/svg%3E);
            }
        }
    }

.demo__code {
    display: block;
    position: relative;
    box-sizing: border-box;
    padding: 5px;
    background: transparent;
    box-shadow: inset 0 0 10px rgba(0,0,0, .5);
    border-radius: 5px;
    }

/* Highlight
------------------------- */

.demo__content {
    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: opacity 1.5s;
        }
    }
.no-highlight:before {
    opacity: 0;
    }

.demo--has-slider {
    text-align: center;
    .demo__content {
        position: absolute !important;
        bottom: 1.5em;
        left: 0;
        right: 0;
        &:before {
            content: none;
            }
        }
    .demo__slider {
        width: 350px;
        margin: auto;
        }
    }

/* Demo Cat
------------------------- */

.demo--cat {
    .demo__view {
        width: 850px;
        margin: auto;
        }
    .resize-cat  {
        border: 1px solid #333;
        height: 500px;
        margin-top: 1em;
        transition: .5s;
        }
    }

/* Demo Clowns Car
------------------------- */

.demo--clownscar {
    text-align: center;
    min-height: 100%;
    .demo__view {
        width: 850px;
        height: 500px;
        margin: 0 auto;
        }
    }
.full :target .resize-clownscar {
    margin-top: 1em;
    border: 1px solid #333;
    }

/* Demo Filling
------------------------- */

.slide--fillingdemo {
    PRE,
    TEXTAREA {
        position: relative;
        z-index: 2;
        padding: .2em .5em;
        background: #FFF;
        transition: .2s;
        }
    .lower-level {
        position: absolute;
        z-index: 0;
        left: 0;
        right: 0;
        text-align: center;
        bottom: 27%;
        font-size: 90px;
        }
    .demo__view {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        }
        svg, object {
            width: 100%;
            height: 100%;
        }
    .demo__content {
        position: relative;
        z-index: 2;
        }
    }

    .slide--strokewidth PRE {
        width: 60%;
        margin: 18.5% auto 0;
        }

/* Demo Edit Properties
------------------------- */

.demo--editproperty {
    .demo__code {
        width: 100%;
        height: 2em;
        margin: 0 0 45px;
        border: 0;
        outline: none;
        line-height: 1.7;
        font-family: 'Anka Coder',monospace;
        font-size: 100%;
        transition: .5s;
        @include editable(99% center);
        &:focus {
            background-color: $hl-color;
            }
        }
    .code--two-lines {
        height: 4em;
        }
    }

/* Demo Live
------------------------- */

.demo--live {
    margin-bottom: $base-size;
    &:after {
        @include clear;
        }
    .demo__content {
        margin-top: 2em;
        }
    .demo__view {
        svg {
            display: block;
            width: 100%;
            margin: 0 auto;
            max-height: 100%;
            }
        }
    .demo__textfield {
        width: 100%;
        border: 0 solid #555;
        outline: none;
        font-family: 'Anka Coder', monospace;
        font-size: $textarea-fontsize;
        line-height: $textarea-lineheight;
        color: #000;
    }
    .demo__code {
        @include textarea-height (5.5);
        @include editable;
        }
    pre {
        float: right;
        width: 65%;
        margin-top: 1em;
        }
    B {
        display: inline-block;
        font: bold .8em/1 Arial !important;
        }
    }

/* Demo Switch
------------------------- */

.demo__switch {
    font-size: .9em;
    line-height: 1.4;
        DL {
        display: inline-block;
        margin-right: 1em;
            DT,
            DD {
                padding: .2em 1.5em .2em 2em;
                }
            DT {
                margin-bottom: .5em;
                font-weight: bold;
                }
            DD {
                position: relative;
                margin: .3em 0;
                border-radius: 10px;
                cursor: pointer;
                &:nth-child(2n) {
                    background: #EEE;
                    }
                &:before {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: .5em;
                    width: .9em;
                    height: .9em;
                    margin: auto;
                    border: 3px solid rgba(0,0,0,.1);
                    border-radius: 50%;
                    }
                &:hover:before {
                    border: 3px solid rgba(0,0,0,.2);
                    }

                }
                .switch--checked:before {
                    background: radial-gradient( at center, #333 40%, rgba(0,0,0,0) 50%) no-repeat;
                    border: 3px solid rgba(0,0,0,.1);
                    }
        }
        &--horizontal DD {
            display: inline-block;
            &:nth-child(2n) {
                background: none;
                }
            }
    }

/* Demo Rect
------------------------- */

.demo--rect {
    &-1 {
        .demo__content {
            @include highlight-lines(2);
            }
        }
    &-2 {
        .demo__content {
            @include highlight-lines(4);
            }
        }
    &-3 {
        .demo__content {
            @include highlight-lines(4);
            }
        }
    }

/* Demo Circle
------------------------- */

.demo--circle {
    .demo__content {
        @include highlight-lines(2);
        }
    }

/* Demo Polygon
------------------------- */

.demo--polygon {
    .demo__content {
        @include highlight-lines(2);
        }
    }

.demo--polygon-star {
    .demo__content {
        $demo-code-lines: 2, 3;
        @include highlight-lines($demo-code-lines);
        }
    }

/* Demo Lines
------------------------- */

.demo--line {
    .demo__content {
        @include highlight-lines(2);
        }
}
.demo--polyline {
    .demo__content {
        $demo-code-lines: 2, 3;
        @include highlight-lines($demo-code-lines);
        }
}

.demo--path {
    .demo__content {
        $demo-code-lines: 2;
        @include highlight-lines($demo-code-lines);
        }
}
.demo--path-abs-rel {
    .demo__content {
        $demo-code-lines: 4;
        @include highlight-lines($demo-code-lines);
        }
    }

.demo--path-circ {
    .demo__content {
        $demo-code-lines: 2, 3;
        @include highlight-lines($demo-code-lines);
        }
    }

.demo--textpath text {
    font-size: 1.27em;
    }

/* Demo Sizes
------------------------- */
$color-sizes-light: powderblue;
$color-sizes-dark: steelblue;

$color-sizes-color-1: #36B1BF;
$color-sizes-color-2: #4AD9D9;
$color-sizes-color-3: #E9F1DF;
$color-sizes-color-4: #F5A503;
$color-sizes-color-5: #F2385A;

$color-sizes-color-6: #76e450;

.demo--sizes {
    .demo__view {
        height: 380px;
        }
    svg {
        width: 100%;
        height: 100%;
        overflow: hidden;
        border: 3px solid #777;
        }
    }

.gr--star-viewbox {
    .bg {
        fill: $color-sizes-color-3;
        stroke: $color-sizes-color-6;
        stroke-width: 10;
        }
    .bounds {
        fill: $color-sizes-color-2;
        stroke: $color-sizes-color-1;
        stroke-width: 5;
        }
    circle {
        fill: $color-sizes-color-3;
        stroke: $color-sizes-color-4;
        stroke-width: 20;
        }
    .star {
        transform: scale(.75) translate(35px, 30px);
        fill: $color-sizes-color-5;
        }
    }

/* Demo preserveAspectRatio
------------------------- */

.demo--par {
    .demo__view {
        max-height: 350px;
        margin: 0;
        }
    PRE {
        margin-bottom: 0;
        }
    .demo__code {
        margin: 1em 0;
        }
    svg {
        border: 2px dashed orangered;
        }
    }

/* Demo Fill
------------------------- */

.demo--fill {
    .demo__view {
        height: 310px;
        }
    text {
        font: bold italic 60px/1 Georgia;
        }
    }

/* Demo Stroke
------------------------- */

.demo--stroke-dec {
    LI {
        }
    PRE {
        display: inline-block;
        width: 322px;
        margin-bottom: 0;
        text-indent: 0;
        }
    }
    .demo--linecap {
        LI {
            margin-bottom: 100px;
            }
            svg {
                vertical-align: bottom;
                }
        }
    .demo--linejoin {
        LI {
            margin-bottom: 30px;
            }
            svg {
                margin-left: 30px;
                vertical-align: middle;
                }
        }

.demo--dasharray {
    PRE {
        display: inline-block;
        margin-bottom: 0;
        text-indent: 0;
        }
    LI {
        margin-bottom: 25px;
        }
    use {
        fill: none;
        }
    }

.demo--dashoffset{
    .demo__content {
        @include posabs;
        }
    .demo__code {
        position: absolute;
        &--1 {
            left: 54%;
            top: 76px;
            width: 380px;
            }
        &--2 {
            left: 60%;
            top: 305px;
            width: 370px;
            }
        }

    svg {
        width: 65%;
        }
    }

.demo--stroke-opacity {
    .demo__content {
        @include posabs;
        }
    .demo__code {
        position: absolute;
        top: 255px;
        right: 0;
        left: 0;
        width: 350px;
        margin: auto;
        text-align: center;
        }
    }

/* Demo text decoration
------------------------- */
.demo--textdec {
    text {
        font-family: 'Russo One';
        font-size:  10em;
        }
    }

.demo--textdec-stroke {
    text {
        fill: none;
        stroke: orangered;
        stroke-width: 4;
        }
    }

.demo--textdec-dashstroke {
    text {
        fill: none;
        stroke: steelblue;
        stroke-dasharray: 30 10;
        stroke-width: 4;
        }
    }

.demo--textdec-patterns {
    text {
        /*font-size: 12em;*/
        }
}

.t--anim {
    stroke-width: 5;
    stroke-opacity: .5;
    }
.t--water {
  stroke: darken(dodgerblue, 30%);
}

.t--fire {
  stroke: darken(red, 35%);
}

.demo--textdec-textfill {
    text {
        font-size: 18em;
        }
}

/* Demo stroke-dasharray Animation
------------------------- */

.pre--demo-dasharray  {
    code:nth-child(4),
    code:nth-child(9) {
        background: $hl-color;
        }
    }

.demo--stroke-dasharr-anim {
    path {
      fill: none;
      stroke-width: 2;
      stroke-dasharray: 550;
      stroke-dashoffset: 570;
      }
      :target & path {
          animation: dashoffset 8s linear infinite alternate;
      }
    }

@keyframes dashoffset {
  100% {
    stroke-dashoffset: 0;
  }
}

/* Demo stroke-dasharray + stroke-offset Animation
------------------------------------------------- */

.pre--demo-dashoffset {
    code:nth-child(2),
    code:nth-child(4) {
        background: $hl-color;
        }
    }

.demo--dashofset-anim {
    .g-circles circle {
      transform-origin: 120px 120px;
      }
    :target &.demo--run circle{
      animation: rotation 6s infinite alternate;
        }
        @for $i from 2 through 15 {
          .g-circles circle:nth-child(#{$i}){
            animation-delay: #{$i/4}s;
            }
          }
    }

@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}

$trans-hor: 97px;
$trans-vert: 96px;
$lights-color: orange; /*lightseagreen*/

.demo--lights {
    @include posabs;
    background: $lights-color;
    color: $lights-color;
    }
    .star--outline {
        transform-origin: $trans-hor $trans-vert;
        transform: scale(1.1);
        fill: white;
        }
    .group--stars {
        use {
            transform-origin: $trans-hor $trans-vert*.75;
            }
        @for $item from 2 through 4 {
            use:nth-child(#{$item}) {
                transform: scale(1-($item/4.9));
            }
        }
        }
    .c-lights {
        fill: none;
        transform-origin: 512px 320px;
        :target & {
            animation: rotation 20s infinite linear;
            }
        }
     .text--win {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        text-shadow: shadows-multilayers($max: 6, $color: lighten(orange, 5%), $backshadow: orangered);
        letter-spacing: .05em;
        font-family: 'Russo One';
        font-size:  5em;
        color: #FFF;

        $wave-length: 5;

        :target & SPAN {
            animation: letters 1.5s linear infinite;
            }

        SPAN {
            display: inline-block;
            @for $item from 1 through $wave-length {
                &:nth-of-type(#{$wave-length}n + #{$item}){
                    animation-delay: #{$item/3}s;
                    }
                }
            }
        }

@keyframes letters {
    0% {
       transform: translateY(0);
        }
    25% {
        transform: translateY(-.08em);
        }
     50% {
       transform: translateY(0);
        }
     75% {
        transform: translateY(.08em);
        }
     100% {
       transform: translateY(0);
        }
    }

@keyframes starmove {
    $trans-min: .8;
    $trans-max: 1.2;

    $trans-min-offset: .7;
    $trans-max-offset: 1.3;

    0% {
      transform-origin: $trans-hor*$trans-min*.8 $trans-vert*$trans-min;
    }
    12.5% {
      transform-origin: $trans-hor $trans-vert*$trans-min-offset*.95;
    }
    25% {
      transform-origin: $trans-hor*$trans-max*1.2 $trans-vert*$trans-min;
    }
    37.5% {
      transform-origin: $trans-hor*$trans-max*1.15 $trans-vert;
    }
    50% {
      transform-origin: $trans-hor*$trans-max*1.1 $trans-vert*$trans-max*1.05;
    }
    65.5% {
      transform-origin: $trans-hor $trans-vert*$trans-max-offset*1.1;
    }
    75% {
      transform-origin: $trans-hor*$trans-min*.9 $trans-vert*$trans-max*1.05;
    }
    87.5% {
      transform-origin: $trans-hor*$trans-min-offset*.95 $trans-vert;
    }
    100% {
        transform-origin: $trans-hor*$trans-min*.8 $trans-vert*$trans-min;
    }
}

@keyframes stardashoffset {
    100% {
        stroke-dashoffset: -32;
        }
}

$group-use-view-height: 120px;
$group-use-texta-height: 11.5;

/* Demo G
------------------------- */

.demo--g {
    .demo__view {
        height: 210px;
        }
     .demo__content {
        $demo-code-lines: 2;
        @include highlight-lines($demo-code-lines);
        }
    .demo__code {
        @include textarea-height (7.5);
        }
    }

/* Demo Use
------------------------- */

.demo--use {
    .demo__view {
        height: 155px;
        }
    .demo__content {
        $demo-code-lines: 7,8;
        @include highlight-lines($demo-code-lines);
        }
    .demo__code {
        @include textarea-height (10.5);
        }
    }

/* Demo Defs
------------------------- */

.demo--defs {
    .demo__view {
        height: $group-use-view-height;
        }
    .demo__content {
        $demo-code-lines: 2;
        @include highlight-lines($demo-code-lines);
        }
    .demo__code {
        @include textarea-height ($group-use-texta-height);
        }
    }

/* Demo Symbol
------------------------- */

.demo--symbol {
    .demo__view {
        height: $group-use-view-height;
        }
    .demo__content {
        $demo-code-lines: 3;
        @include highlight-lines($demo-code-lines);
        }
    .demo__code {
        @include textarea-height ($group-use-texta-height);
        }
    }

/* Demo Pattern
------------------------- */

.demo--pattern {
    .demo__view {
        height: $group-use-view-height;
        }
    .demo__content {
        $demo-code-lines: 3,10;
        @include highlight-lines($demo-code-lines);
        }
    .demo__code {
        @include textarea-height ($group-use-texta-height);
        }
    }

#pt-text {
  font: italic .7em/2 Georgia;
  color: #000;
  }
.demo--patterns {
    height: 500px;
    svg {
        float: left;
        width: 32%;
        height: 100%;
        &:nth-child(n+2){
            margin-left: 2%;
            }
        }
}

/* Demo transform
------------------------- */

.demo--transform {
    .demo__view {
        height: 150px;
        }
    .demo__code {
        @include textarea-height (8);
        }
    }

.rect-transform-before {
    fill: none;
    stroke: #333;
    stroke-width: 1px;
    stroke-dasharray: 10 5;
    }
.rect-transform-after {
    fill-opacity: .7;
    }

/* Demo title & desc
------------------------- */

.demo--tit-desc {
    .demo__view {
        height: 230px;
        }
    .demo__content {
        $demo-code-lines: 2,3;
        @include highlight-lines($demo-code-lines);
        }
        .demo__code {
            @include textarea-height (7.5);
            }
    }

.demo--tit-desc-elem {
    .demo__content {
        $demo-code-lines: 4,5;
        @include highlight-lines($demo-code-lines);
        }
}

/* Demo stacks
------------------------- */

.pre--stacks {
    code:nth-child(2),
    code:nth-child(6) {
        background: $hl-color;
        }
    }
.demo--stacks {
    .demo__view {
        width: 200px;
        height: 200px;
        }
    text {
        font: 90px/1 Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
        fill: #FFF;
        }
    .hidden {
        display: none;
        }
    .demo__code {
        height: 190px;
        }
    }
.list--stacks-demo {
    display: inline-block;
    margin-bottom: 0 !important;
    LI {
        @include demo-list(0);
        min-width: 290px;
        text-align: left;
        color: #999;
        &:nth-child(1) {
            margin-right: 100px;
            }
        }
    .text {
        white-space: nowrap;
        font-style: italic;
        margin-bottom: 20px;
        }
        B {
            color: #000;
            }
    }

.bg--test-stacks {
    width: 250px;
    height: 250px;
    background: url(../../assets/img/svg/yes-no.svg#yes);
    }

/* Demo Masks
------------------------- */

.demo--mask {
    .demo__code {
        @include textarea-height (7);
        }
    .demo__codepart {
        @include textarea-height (5);
        }
    svg {
        overflow: hidden;
        }
    }

.clip-text {
  font: bold italic 6.5em/1 Georgia;
  }
#fo-text {
  font: bold italic .4em/1 Georgia
  }

.path-heart {
    transform-origin: 87px 90px;
    :target & {
        animation: scale .7s infinite;
        }
    }

@keyframes scale {
    50% {
        transform: scale(.8);
        }
    }

/* Demo Decorations
------------------------- */

.demo--fillstroke {
    .demo__view {
        float: left;
        width: 48%;
        }
    .demo__switch {
        float: right;
        width: 48%;
        }
    }
.demo--svgtext {
  font: bold italic 3em/1 Georgia;
  }

/* Demo Nth-child
------------------------- */

.demo--nth-child {
  :target & path {
      animation: nthchild-dasharray 5s infinite alternate;
      }
}

.g-icon--airballoon {
    transform: scale(.95) translate(4px,4px);

    path {
      fill: none;
      stroke-width: 1;
      stroke: rgba(0,0,0, .8);
      stroke-dasharray: 550 0;
      }

    path:nth-child(8n+3){
      fill: #C24704;
      animation-delay: .4s;
      }
    path:nth-child(8n+4){
      fill: #D9CC3C;
      animation-delay: 1s;
      }
    path:nth-child(8n+5){
      fill: #FFEB79;
      animation-delay: 1.6s;
      }
    path:nth-child(8n+6){
      fill: #A0E0A9;
      animation-delay: 2s;
      }
    path:nth-child(8n+7){
      fill: #00ADA7;
      animation-delay: 2.6s;
      }
    path:nth-child(8n){
      fill: darken(#00ADA7, 15%);
      animation-delay: 3s;
      }
}

@keyframes nthchild-dasharray {
  100% {
    stroke: rgba(0,0,0, .5);
    stroke-dasharray: 0 500;
    fill-opacity: 0;
  }
}

.demo--colorful-icon {
    text-align: center;
    font-size:  3em;
    svg {
        width: 280px;
        height: 400px;
        margin-top: 170px;
        vertical-align: middle;
        }
    :target & svg {
        animation: ghost 3s linear infinite;
        }
}

