$iconstroke-size: 10em;

.wrapper--icons-colored {
  position: absolute;
  top: 2em;
  bottom: 80px;
  right: 0;
  left: 0;
  height: $iconstroke-size * 2.2;
  width: 70%;
  margin: auto;
  text-align: center;

  .icon {
    display: inline-block;
    position: relative;
    top: 0;
    width: $iconstroke-size;
    height: $iconstroke-size;
    margin: 0 2.1em 2.1em;
    text-indent: 0;
    transition: .2s;

    svg {
      width: $iconstroke-size;
      height: $iconstroke-size;
      /*border: 1px solid red;*/
      }

    &:before {
      content: none
      }
    }
}

.dev--bounds {
  fill: none;
  stroke: green;
  stroke-width: 5;
  svg>& {
    stroke: orange;
  }
}
