$iconstroke-size: 10em;

.wrapper--icons-stroke,
.wrapper--icons-filters {
  position: absolute;
  top: 0;
  bottom: 80px;
  right: 0;
  left: 0;
  height: $iconstroke-size * 2.2;
  width: 70%;
  margin: auto;
  text-align: center;
  /*border: 1px solid;*/

  .icon {
    display: inline-block;
    position: relative;
    top: 0;
    width: $iconstroke-size;
    height: $iconstroke-size;
    margin: 0 1em 1em;
    text-indent: 0;
    transition: .2s;
    /*border: 1px solid;*/

    use {
      transform: scale(.85) translate(.2em, .2em);
      }

    &:before {
      content: none
      }
    }
}

.wrapper--icons-stroke .icon {
  fill: none;
  cursor: pointer;
  }

.icon--stroke {
  stroke: rgba(0, 0, 0, .5);
  stroke-width: 3;
    &:hover {
      stroke: skyblue;
    }
  }

.icon--dasharray {
  stroke: rgba(0, 0, 0, .5);
  stroke-width: 3;
  stroke-dasharray: 10 5;
  fill: rgba(0, 0, 0, .2);
  &:hover {
    fill: rgba(0, 0, 0, 0);
    stroke-dasharray: 10 0;
    }
  }

.icon--gradient {
  stroke-width: 3;
  transform-origin: $iconstroke-size/2 $iconstroke-size/2;
  animation: rotation 3s linear infinite;
  animation-play-state: paused;
  &:hover {
    animation-play-state: running;
    }
  }

.icon--gradient2 {
  stroke-width: 3;
  animation: ghost 1.5s linear infinite;
  animation-play-state: paused;
  &:hover {
    animation-play-state: running;
    }
  }

@keyframes ghost {
    50% {
        transform: translate(0, -.5em);
        }
    }

.icon--blur {}
.icon--shadow {}
.icon--multystrokes {
  position: relative;
  text-indent: -1em !important;
  fill: none;
  stroke: #004358;
  stroke-width: 3;
  }
.icon--innershadow {}
