$iconsize-unit: 1.32em;  /*16px*/

.wrapper--icons-16-64 {
  /*width: 580px;*/
  margin: 0;
  
    .icons {
      margin-bottom: 1.6rem;
      line-height: 1;
      text-align: center;
      }
      .icons:before {
        /*content: attr(data-size);*/
        display: inline-block;
        width: 72px;
        line-height: 1.5em;
        margin: 0 .5rem 0 0;
        vertical-align: middle;
        text-align: right;
        font-family: Georgia, serif;
        color: tomato;
        }

    .icons-size--16 {
      font-size: $iconsize-unit;
      }
    .icons-size--32 {
      font-size: $iconsize-unit*2;
      }
    .icons-size--48 {
      font-size: $iconsize-unit*3;
      }
    .icons-size--64 {
      font-size: $iconsize-unit*4;
      }

    .icon {
      display: inline-block;
      width: $iconsize-unit;
      height: 1em;
      margin: 0 -.1em;
      background: url() 0 0 no-repeat;
      background-image: url(../../assets/img/svg/sprite-showsizes.svg);
      background-size: auto 100%;
      vertical-align: middle;
      list-style: none;
      &:before {
        content: none;
        }
      }

    .icon--cloud {
      display: none;
      background-position: -1.5em 0;
      }
    .icon--star {
      background-position: -3em 0;
      }
    .icon--airplane {
      background-position: -4.5em 0;
      }
    .icon--speaker {
      background-position: -5.95em 0;
      }
    .icon--flask {
      background-position: -7.45em 0;
      }
}  