$max: 12;
$angle: 360/$max;
$size: 120px;
$wh: 250px;
$fill: dodgerblue;

.demo--preloaders {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: $wh + 10;
  margin: auto;
  text-align: center;
  }

.svg--preloader {
  height: $wh;
  width: $wh;
  overflow: visible;
  }


@function transform($item: 1, $translate: "5px, 5px"){
  $base: rotate(#{-$angle*$item}deg) translate($translate) scale(.9);
  @return $base;
}

.g--preloader-circle {
  transform-origin: $size/2 $size/2;

  fill: $fill;
  animation: opacity 1.2s linear infinite;

  @for $item from 1 through $max {
    &:nth-child(#{$max}n + #{$item}){
      animation-delay: -#{$item/10}s;
      transform: transform($item, $translate: 0);
    }
  }
}

.demo--preloaders-mod .g--preloader-circle {
  fill: crimson;
  }

.g--preloader--v1 .g--preloader-circle {
  fill-opacity: 0;
  animation-name: opacity;
  }

.g--preloader--v2 .g--preloader-circle {
  fill-opacity: 0;
  stroke-opacity: 0;
  stroke-width: 1;
  stroke: yellowgreen;
  animation-name: opacity-stroke, colors, colors-stroke;
  .u--circle {
    //transform: scale(.6) translate(10px,10px);
    //transform-origin: 10px 10px;
    animation: transform-2 1.2s linear infinite;
  }
}

.g--preloader--v2 .g--preloader-circle {
  @for $item from 1 through $max {
    &:nth-child(#{$max}n + #{$item}) .u--circle{
      animation-delay: -#{$item/10}s;
    }
  }
}

#shadow-root circle {
stroke: green;
}

.g--preloader--v3 .g--preloader-circle {
  fill-opacity: 1;
  animation-name: opacity, colors;
  /*stroke: red;*/
  }

.g--preloader--v4 {
  .g--preloader-circle {
    fill-opacity: 1;
    fill: orange;
    animation-name: opacity, colors-3;
  }
  .u--circle {
    animation: transform 1.2s linear infinite;
  }
}

.g--preloader--v4 .g--preloader-circle {
  @for $item from 1 through $max {
    &:nth-child(#{$max}n + #{$item}) .u--circle{
      animation-delay: -#{$item/10}s;
    }
  }
}


@keyframes opacity {
  3% {
    fill-opacity: 1;
  }
  75% {
    fill-opacity: 0;
  }

}

@keyframes opacity-stroke {
  10% {
    stroke-opacity: 1;
  }
  85% {
    stroke-opacity: 0;
  }

}

@keyframes colors {
  0% {
    fill: yellowgreen;
    }
  10% {
    fill: gold;
    }
  75% {
    fill: crimson;
  }
}

@keyframes colors-stroke {
  0% {
    stroke: yellowgreen;
    }
  10% {
    stroke: gold;
    }
  75% {
    stroke: crimson;
  }
}

@keyframes colors-2 {
  0% {
    fill: yellow;
    }
  50% {
    fill: red;
    }
  65% {
    fill: orangered;
  }
  95% {
    fill: gold;
  }
}

@keyframes colors-3 {
  0% {
    fill: yellowgreen;
    }
  50% {
    fill: turquoise;
    }
  65% {
    fill: yellow;
  }
  95% {
    fill: orange;
  }
}

@keyframes transform {
  10% {
    transform-origin: 70px 70px;
    transform: scale(.75);
    }
}

@keyframes transform-2 {
  40% {
    transform: scale(.85) translate(10px,10px);
    }
  60% {
    stroke-width: 20;
    }
}

@keyframes transform-3 {
  10% {
    transform-origin: 50px 50px;
    transform: scale(.85);
    }
}


.g--preloader--ams .g--preloader-circle {
  fill-opacity: 0;
  animation-name: opacity;
  }

.g--preloader--hc .g--preloader-circle {
  fill-opacity: 0;
  stroke-opacity: 0;
  stroke-width: 1;
  stroke: yellowgreen;
  animation-name: opacity-stroke, colors, colors-stroke;
  .u--circle {
    animation: transform-2 1.2s linear infinite;
  }
}

.g--preloader--hc {
  transform: scale(.85) translate(12px, 12px);
  .g--preloader-circle {
    @for $item from 1 through $max {
      &:nth-child(#{$max}n + #{$item}) .u--circle{
        animation-delay: -#{$item/10}s;
      }
    }
  }
}

.g--preloader--trapez .g--preloader-circle {
  fill-opacity: 1;
  animation-name: opacity, colors;
  }

.g--preloader--stars {
  .g--preloader-circle {
    fill-opacity: 1;
    fill: orange;
    animation-name: opacity, colors-3;
  }
  .u--circle {
    animation: transform-3 1.2s linear infinite;
  }
}

.g--preloader--stars .g--preloader-circle {
  @for $item from 1 through $max {
    &:nth-child(#{$max}n + #{$item}) .u--circle{
      animation-delay: -#{$item/10}s;
    }
  }
}
